export PATH=$PATH:~/repos/golang/glib/bin

# Load completions if we use zsh
if [ -n "$ZSH_VERSION" ]; then
  source <(glib completion zsh)
fi

if [ -n "$FISH_VERSION" ]; then
  glib completion fish | source
fi
