package {{.PkgName}}

import (
	"context"
	
	"github.com/google/uuid"
)

// @Controller path={{.RoutePrefix}}
type Controller struct {
	// Add dependencies here (auto-injected by type from providers)
	// Example:
	// {{.TypeName}}Service *services.{{.TypeName}}Service
}

// @Route method=GET path=/
func (c *Controller) Index(ctx context.Context) ([]{{.TypeName}}, error) {
	// TODO: implement
	return []{{.TypeName}}{}, nil
}

// @Route method=GET path=/{id}
func (c *Controller) Show(ctx context.Context, id uuid.UUID) (*{{.TypeName}}, error) {
	// TODO: implement
	return nil, nil
}

// @Route method=POST path=/
func (c *Controller) Create(ctx context.Context, req Create{{.TypeName}}Request) (*{{.TypeName}}, error) {
	// TODO: implement
	return nil, nil
}

// @Route method=PUT path=/{id}
func (c *Controller) Update(ctx context.Context, id uuid.UUID, req Update{{.TypeName}}Request) (*{{.TypeName}}, error) {
	// TODO: implement
	return nil, nil
}

// @Route method=DELETE path=/{id}
func (c *Controller) Delete(ctx context.Context, id uuid.UUID) error {
	// TODO: implement
	return nil
}
