package {{.PkgName}}

import (
	"context"
)

// @Controller path={{.RoutePrefix}}
type Controller struct {
	// Add dependencies here (auto-injected by type from providers)
}

// @Route method=GET path=/
func (c *Controller) Index(ctx context.Context) (any, error) {
	// TODO: implement
	return nil, nil
}
