{{/* Error Only Pattern: Handlers that return only error (no response body) */}}
		ctx := r.Context()
		
{{template "parse_path_params.templ" .}}

{{- if or .Handler.Signature.QueryParams .Handler.Signature.HeaderParams}}
		// Parse query parameters and headers into struct
		var req {{typeRef .Handler.Signature.ParamsStructType}}
{{- end}}

{{template "parse_query_params.templ" .}}

{{template "parse_header_params.templ" .}}

{{template "validate_params.templ" .}}

{{template "parse_request_body.templ" .}}


{{- if .Handler.Signature.PathParams}}
		err = app.controllers.{{.CtrlField}}.{{.Handler.Name}}(ctx{{range .Handler.Signature.PathParams}}, {{.Name}}{{end}}{{if or .Handler.Signature.QueryParams .Handler.Signature.HeaderParams .Handler.Signature.RequestType}}, req{{end}})
{{- else}}
		err := app.controllers.{{.CtrlField}}.{{.Handler.Name}}(ctx{{range .Handler.Signature.PathParams}}, {{.Name}}{{end}}{{if or .Handler.Signature.QueryParams .Handler.Signature.HeaderParams .Handler.Signature.RequestType}}, req{{end}})
{{- end}}
		if err != nil {
			glib.WriteError(w, err)
			return
		}
		// Success - return 204 No Content for error-only handlers
		w.WriteHeader(http.StatusNoContent)


