{{/* Shared: Parse path parameters from URL */}}
{{- if .Handler.Signature.PathParams}}
		// Parse path parameters
{{- range .Handler.Signature.PathParams}}
{{- if eq .Type.PackageName "uuid"}}
	{{.Name}}, err := utils.ParseUUID(r.PathValue("{{.Name}}"), "{{.Name}}")
	if err != nil {
		glib.WriteError(w, errs.NewBadRequest().
			Msgf("invalid path parameter '%s': %v", "{{.Name}}", err).Err())
		return
	}
{{- else if .Type.IsPrimitive}}
{{- if eq .Type.Name "int"}}
		{{.Name}}, err := utils.ParseInt(r.PathValue("{{.Name}}"), "{{.Name}}")
{{- else if eq .Type.Name "int64"}}
		{{.Name}}, err := utils.ParseInt64(r.PathValue("{{.Name}}"), "{{.Name}}")
{{- else if eq .Type.Name "uint64"}}
		{{.Name}}, err := utils.ParseUint64(r.PathValue("{{.Name}}"), "{{.Name}}")
{{- else if eq .Type.Name "float64"}}
		{{.Name}}, err := utils.ParseFloat64(r.PathValue("{{.Name}}"), "{{.Name}}")
{{- else if eq .Type.Name "bool"}}
		{{.Name}}, err := utils.ParseBool(r.PathValue("{{.Name}}"), "{{.Name}}")
{{- else}}
		{{.Name}} := r.PathValue("{{.Name}}")
		var err error
{{- end}}
{{- if ne .Type.Name "string"}}
	if err != nil {
		glib.WriteError(w, errs.NewBadRequest().
			Msgf("invalid path parameter '%s': %v", "{{.Name}}", err).Err())
		return
	}
{{- end}}
{{- else}}
		{{.Name}} := r.PathValue("{{.Name}}")
{{- end}}
{{- end}}
{{- end}}
