{{/* Shared: Parse query parameters from URL */}}
{{- if .Handler.Signature.QueryParams}}
		// Parse query parameters
{{- range .Handler.Signature.QueryParams}}
{{- if .Type.IsSlice}}
		// Slice parameter: {{.ParamName}}
		req.{{.FieldName}} = parsers.GetQuerySlice(r, "{{.ParamName}}")
{{- else if .IsOptional}}
		// Optional parameter: {{.ParamName}}
		if {{.ParamName}}Str, ok := parsers.GetQueryParam(r, "{{.ParamName}}"); ok {
{{- if eq .Type.Name "string"}}
			req.{{.FieldName}} = &{{.ParamName}}Str
{{- else if eq .Type.Name "int"}}
			{{.ParamName}}Val := parsers.ParseIntOrZero({{.ParamName}}Str)
			req.{{.FieldName}} = &{{.ParamName}}Val
{{- else if eq .Type.Name "int64"}}
			{{.ParamName}}Val := parsers.ParseInt64OrZero({{.ParamName}}Str)
			req.{{.FieldName}} = &{{.ParamName}}Val
{{- else if eq .Type.Name "uint64"}}
			{{.ParamName}}Val := parsers.ParseUint64OrZero({{.ParamName}}Str)
			req.{{.FieldName}} = &{{.ParamName}}Val
{{- else if eq .Type.Name "bool"}}
			{{.ParamName}}Val := parsers.ParseBoolOrFalse({{.ParamName}}Str)
			req.{{.FieldName}} = &{{.ParamName}}Val
{{- else if eq .Type.Name "float64"}}
			{{.ParamName}}Val := parsers.ParseFloat64OrZero({{.ParamName}}Str)
			req.{{.FieldName}} = &{{.ParamName}}Val
{{- else if eq .Type.PackageName "uuid"}}
			{{.ParamName}}Val := parsers.ParseUUIDOrNil({{.ParamName}}Str)
			req.{{.FieldName}} = &{{.ParamName}}Val
{{- end}}
		}
{{- else}}
		// Required parameter: {{.ParamName}}
		if {{.ParamName}}Str := r.URL.Query().Get("{{.ParamName}}"); {{.ParamName}}Str != "" {
{{- if eq .Type.Name "string"}}
			req.{{.FieldName}} = {{.ParamName}}Str
{{- else if eq .Type.Name "int"}}
			req.{{.FieldName}} = parsers.ParseIntOrZero({{.ParamName}}Str)
{{- else if eq .Type.Name "int64"}}
			req.{{.FieldName}} = parsers.ParseInt64OrZero({{.ParamName}}Str)
{{- else if eq .Type.Name "uint64"}}
			req.{{.FieldName}} = parsers.ParseUint64OrZero({{.ParamName}}Str)
{{- else if eq .Type.Name "bool"}}
			req.{{.FieldName}} = parsers.ParseBoolOrFalse({{.ParamName}}Str)
{{- else if eq .Type.Name "float64"}}
			req.{{.FieldName}} = parsers.ParseFloat64OrZero({{.ParamName}}Str)
{{- else if eq .Type.PackageName "uuid"}}
			req.{{.FieldName}} = parsers.ParseUUIDOrNil({{.ParamName}}Str)
{{- end}}
		}
{{- end}}
{{- end}}
{{- end}}
