{{/* Pattern 7: Context + Path param */}}
		ctx := r.Context()

{{- $param := index .Handler.Signature.PathParams 0}}
		// Parse path parameter: {{$param.Name}}
		{{$param.Name}}Str := r.PathValue("{{$param.Name}}")
{{- if and (eq $param.Type.PackageName "uuid") (eq $param.Type.Name "UUID")}}
		{{$param.Name}}, err := uuid.Parse({{$param.Name}}Str)
		if err != nil {
			writeError(w, err)
			return
		}
{{- else if $param.Type.IsPrimitive}}
		{{$param.Name}} := {{$param.Name}}Str
{{- else}}
		{{$param.Name}} := {{$param.Name}}Str
{{- end}}

{{- if .Handler.Signature.ResponseType}}
		resp, err := c.{{.CtrlField}}.{{.Handler.Name}}(ctx, {{$param.Name}})
		if err != nil {
			writeError(w, err)
			return
		}
		writeJSON(w, http.StatusOK, resp)
{{- else}}
		if err := c.{{.CtrlField}}.{{.Handler.Name}}(ctx, {{$param.Name}}); err != nil {
			writeError(w, err)
			return
		}
		w.WriteHeader(http.StatusNoContent)
{{- end}}
