{{/* Pattern 8: Context + Path param + Request body */}}
		ctx := r.Context()

{{- $param := index .Handler.Signature.PathParams 0}}
		// Parse path parameter: {{$param.Name}}
		{{$param.Name}}Str := r.PathValue("{{$param.Name}}")
{{- if and (eq $param.Type.PackageName "uuid") (eq $param.Type.Name "UUID")}}
		{{$param.Name}}, err := uuid.Parse({{$param.Name}}Str)
		if err != nil {
			writeError(w, err)
			return
		}
{{- else if $param.Type.IsPrimitive}}
		{{$param.Name}} := {{$param.Name}}Str
{{- else}}
		{{$param.Name}} := {{$param.Name}}Str
{{- end}}

		// Parse request body
		var req {{.Handler.Signature.RequestType.FullName}}
		if err := json.NewDecoder(r.Body).Decode(&req); err != nil {
			writeError(w, err)
			return
		}

		resp, err := c.{{.CtrlField}}.{{.Handler.Name}}(ctx, {{$param.Name}}, req)
		if err != nil {
			writeError(w, err)
			return
		}
		writeJSON(w, http.StatusOK, resp)
