package configs

// @Config
// Config holds application configuration.
// Configuration is automatically loaded from environment variables by glib.
type Config struct {
	App struct {
		Port int `env:"APP_PORT" default:"8080"`
	}
}
