package configs

// @Config
type Config struct {
	Server struct {
		Port int    `env:"APP_PORT" default:"8080"`
		Env  string `env:"APP_ENV" default:"development"`
	}
}

func (c *Config) Addr() string {
	return fmt.Sprintf("%s:%d", c.Server.Host, c.Server.Port)
}
