package health

import (
	"context"
)

// HealthResponse represents the health check response.
type HealthResponse struct {
	Status string `json:"status"`
}

// @Controller path=/health
type Controller struct{}

// @Route method=GET path=/
func (c *Controller) Check(ctx context.Context) (*HealthResponse, error) {
	return &HealthResponse{
		Status: "ok",
	}, nil
}
