package {{.Package}}

import (
	"github.com/azizndao/glib/orm"
{{- range .Imports}}
	"{{.}}"
{{- end}}
)

{{if .Comment}}// {{.Comment}}{{end}}
type {{.Name}} struct {
	orm.Model
{{- range .Fields}}
	{{.Name}} {{.Type}}{{if .Tags}} `{{.Tags}}`{{end}}{{if .Comment}} // {{.Comment}}{{end}}
{{- end}}
{{- if .Relationships}}

	// Relationships
{{- range .Relationships}}
	{{.Name}} {{.Type}}{{if .Tags}} `{{.Tags}}`{{end}}{{if .Comment}} // {{.Comment}}{{end}}
{{- end}}
{{- end}}
}

{{if .TableName}}
// TableName overrides the default table name
func ({{.Name}}) TableName() string {
	return "{{.TableName}}"
}
{{end}}
